<section class="bg-white rounded-20px py-8 px-4 mt-8 drop-shadow-[0_15px_40px_0_#0000001A] ">
    <div class="flex flex-wrap justify-between items-center">
        <span class="text-2xl font-medium text-maincolor">Quizes</span>
        <a class="text-2xl font-medium text-maincolor cursor-pointer" (click)="viewAllSubjects()">View All</a>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-5">
        @for (subject of subjectsList(); track subject._id) {
            <div data-idTesting="subjectId" class="text-white relative cursor-pointer" [routerLink]="['/exams']" [queryParams]="{subject: subject._id}">
                <img [src]="subject.icon" class="w-full" alt="course photo">
                <div class="bg-[#1100FF66] rounded-[8.44px] backdrop-blur-[27px] p-4 absolute bottom-3.5 start-1/2 -translate-x-1/2 w-[90%]">
                    <h6 class="font-bold text-[13.51px]">{{subject.name}}</h6>
                    <p class="font-medium text-[11.82px]">Voluptatem aut ut dignissimos blanditiis</p>
                </div>
            </div>
        }
    </div>
  
</section>
