:host ::ng-deep {
  .p-dialog-title {
    font-weight: 500 !important;
    font-size: 24px !important;
    color: #0F0F0F !important;
  }
  .p-dialog-header {
    --p-dialog-header-padding: 24px;
  }
}
