<div class="flex items-stretch justify-between w-full h-[61px] gap-3">
        <p-iconfield styleClass="w-3/4">
            <p-inputicon styleClass="pi pi-search !text-maincolor !font-bold" />
            <input type="text" pInputText placeholder="Search Quiz" class=" h-full w-full drop-shadow-[0_15px_40px_0_#0000001A]" />
        </p-iconfield>
        <app-blue-button label="Start Quiz" marginTop="0" paddingInline="32px"></app-blue-button>
     <div class="size-[61px] rounded-full shadow-[0_15px_40px_5px_#EDEDED]"> 
        <img src="/images/Frame 40.png" class="w-full rounded-full" alt="man-photo">
     </div>
</div>