<div class="container mx-auto w-[410px] min-h-[70%] flex flex-col justify-center">
  <h2 class="auth mb-6 ">Sign in</h2>
  <form [formGroup]="loginForm" class="flex flex-col gap-6  justify-center items-stretch" (ngSubmit)="submit()">
    <div>
      @let emailControl = loginForm.get('email');
      <input [class]="{
        'ng-invalid': (emailControl?.errors && (emailControl?.dirty || emailControl?.touched)),
        'ng-dirty': (emailControl?.errors && (emailControl?.dirty || emailControl?.touched))
      }" class="w-full focus:!border-maincolor focus:!border-2" formControlName="email" type="email" pInputText
        variant="filled" placeholder="Enter Email" />

      <app-input-error [control]="emailControl" fieldName="Email" />
    </div>
    <div>
      @let passwordControl = loginForm.get('password');
      <p-iconfield iconPosition="right" styleClass="!cursor-pointer">

        <input [class]="{
        'ng-invalid': (passwordControl?.errors && (passwordControl?.dirty || passwordControl?.touched)),
        'ng-dirty': (passwordControl?.errors && (passwordControl?.dirty || passwordControl?.touched))
      }" class="w-full focus:!border-maincolor focus:!border-2" formControlName="password"
          [type]="typePass?'text':'password'" pInputText variant="filled" placeholder="Password" />
        <p-inputicon (click)="showPassword()" [styleClass]="typePass?'pi pi-eye-slash ':'pi pi-eye' " />
      </p-iconfield>

      <app-input-error [control]="passwordControl" fieldName="Password" message="It must be at least 8 characters long and start with an uppercase letter followed by
        a lowercase letter and must contain a number and a symbol for either /#?!&#64;$%^&*-/" />

    </div>

    <a routerLink="/forgetPassword" class="text-maincolor self-end text-end cursor-pointer ">Recover Password ?</a>
    <app-blue-button [form]="true" (clicked)="onSignInClick()" label="Sign in"></app-blue-button>
  </form>



</div>