<div class="card">
    <p-menubar styleClass="!border-0 !bg-maincolor lg961:!bg-white" [model]="items" >
   
        <ng-template #start>
            
            <div class="flex justify-between items-center gap-2 w-full">  
                <i class="pi pi-search" style="font-size: 16px ; color:white"></i>
            </div>
        </ng-template>
        <ng-template #end>
            
            <div class="flex justify-between items-center gap-2">  
                <p-avatar image="/images/Frame 40.png" shape="circle" />
            </div>
        </ng-template>
    </p-menubar>
</div>
