<div class="container mx-auto w-[410px] min-h-[70%] flex flex-col justify-center">
  @if (step == 1) {
  <h2 class="auth mb-6 ">Forgot your password?</h2>
  <form [formGroup]="emailForm" class="flex flex-col gap-6  justify-center items-stretch"
    (ngSubmit)="submitEmailForm()">
    <div>
      @let emailControl = emailForm.get('email');
      <input [class]="{
        'ng-invalid': (emailControl?.errors && (emailControl?.dirty || emailControl?.touched)),
        'ng-dirty': (emailControl?.errors && (emailControl?.dirty || emailControl?.touched))
      }" class="w-full focus:!border-maincolor focus:!border-2" formControlName="email" type="email" pInputText
        variant="filled" placeholder="Enter Email" />

      <app-input-error [control]="emailControl" fieldName="Email" />

    </div>

    <a routerLink="/forgetPassword" class="text-maincolor self-end text-end cursor-pointer ">Recover Password ?</a>
    <app-blue-button label="Sign in"></app-blue-button>
  </form>
  }
  @if (step == 2) {
  <h2 class="auth mb-6 ">Verify code</h2>
  <form [formGroup]="verifyForm" class="flex flex-col gap-6  justify-center items-stretch"
    (ngSubmit)="submitVerifyForm()">
    <div>
      @let resetCodeControl = verifyForm.get('resetCode');
      <input [class]="{
        'ng-invalid': (resetCodeControl?.errors && (resetCodeControl?.dirty || resetCodeControl?.touched)),
        'ng-dirty': (resetCodeControl?.errors && (resetCodeControl?.dirty || resetCodeControl?.touched))
      }" class="w-full focus:!border-maincolor focus:!border-2" formControlName="resetCode" type="text" pInputText
        variant="filled" placeholder="Enter Code" />

      <app-input-error [control]="resetCodeControl" fieldName="Reset Code" message="Enter valid resetCode" />


    </div>
    <span class="text-[#313131] self-center text-end">Didn’t receive a code? <a class="text-maincolor cursor-pointer"
        (click)="resendCodeAgain()"> Resend</a></span>

    <app-blue-button label="Verify"></app-blue-button>
  </form>
  }
  @if (step == 3) {
  <h2 class="auth mb-6 ">Set a Password</h2>
  <form [formGroup]="resetPasswordForm" class="flex flex-col gap-6  justify-center items-stretch"
    (ngSubmit)="submitResetPassForm()">
    <div>
      @let passwordControl = resetPasswordForm.get('newPassword');
      <p-iconfield iconPosition="right" styleClass="!cursor-pointer">
        <input [class]="{
        'ng-invalid': (passwordControl?.errors && (passwordControl?.dirty || passwordControl?.touched)),
        'ng-dirty': (passwordControl?.errors && (passwordControl?.dirty || passwordControl?.touched))
      }" class="w-full focus:!border-maincolor focus:!border-2" formControlName="newPassword"
          [type]="typePass?'text':'password'" pInputText variant="filled" placeholder="Create Password" />
        <p-inputicon (click)="showPassword()" [styleClass]="typePass?'pi pi-eye-slash ':'pi pi-eye' " />
      </p-iconfield>

      <app-input-error [control]="passwordControl" fieldName="Password" message="It must be at least 8 characters long and start with an uppercase letter followed by
        a lowercase letter and must contain a number and a symbol for either /#?!&#64;$%^&*-/" />

    </div>
    <div>
      @let repasswordControl = resetPasswordForm.get('rePassword');
      <p-iconfield iconPosition="right" styleClass="!cursor-pointer">
        <input [class]="{
        'ng-invalid': (resetPasswordForm.hasError('mismatch') && (repasswordControl?.dirty || repasswordControl?.touched)),
        'ng-dirty': (resetPasswordForm.hasError('mismatch') && (repasswordControl?.dirty || repasswordControl?.touched))
      }" class="w-full focus:!border-maincolor focus:!border-2" formControlName="rePassword"
          [type]="typePass?'text':'password'" pInputText variant="filled" placeholder="Confirm Password" />
        <p-inputicon (click)="showPassword()" [styleClass]="typePass?'pi pi-eye-slash ':'pi pi-eye' " />
      </p-iconfield>

      @if (resetPasswordForm.hasError('mismatch') && (repasswordControl?.dirty ||
      repasswordControl?.touched)) {

      <p class="text-red-500 mt-1">Password confirmation is incorrect</p>

      }

    </div>
    <app-blue-button label="Sign in"></app-blue-button>
  </form>

  }

</div>