<section class="bg-babyblue drop-shadow-[0_5px_100px_#0000001A]  rounded-r-[100px] h-full ">
<div class="flex flex-col gap-20 pt-20 ps-20 pb-40">
    <div>
        <h1 class="text-[50px] font-bold">Welcome to <br> <span class="text-6xl text-maincolor">Elevate</span></h1>
        <p class="mt-5 text-lg ">Quidem autem voluptatibus qui quaerat aspernatur <br> architecto natus</p>
    </div>
    <div>
        <img src="/images/bro.png" class="w-96" alt="photo">
    </div>
</div>
</section>
