<p class="text-center text-[#6C737F] mt-8">Or Continue with</p>
<div class="flex gap-8 justify-center mt-8 mb-11" >
    <a href="https://www.google.com/" target="_blank" class="social-box text-red-700"><i class="fa-brands fa-google"></i></a>
    <a href="https://x.com/" target="_blank" class="social-box text-[#1D9BF0]"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.facebook.com/" target="_blank" class="social-box text-[#1877f2]"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.apple.com/" target="_blank" class="social-box text-black"><i class="fa-brands fa-apple"></i></a>

</div>